.append{
    white-space: nowrap;
    vertical-align: middle;

}
a {
    color: #ff3100;
}
.btn-append {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    -webkit-border-radius:  0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
input {
    padding-left: 5px;
    height: 26px;
    margin-right: -1px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.wrapper{
    width: auto;
    height: auto;
    background: #cccccc;
    border: 1px solid black;
}
.wrapper thead tr {
    background-color: #a9a9a9;
    border-bottom: 1px solid black;
}
.wrapper td {
    text-align: center;
}
.controls {
    width: 100%;
    height: 22px;
    padding-top: 5px;
    background-color: #fff;
    border-top: 1px solid black;
}
.left, .right{
    width: 10%;
    text-align: center;
}
.left {
    float: left;

}
.right {
    float: right;
}
.center {
    float: left;
    text-align: center;
    width: 80%;
}

.left, .right{
    text-decoration: none;
}
