footer{
    color: #ffaa00;
    clear: both;
    position: fixed;
    bottom:0;
    right:20px;
    padding: 10px;
}
footer a {
    color: #a66f00;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}